.test{
    width: 75%;
    justify-content: space-between;
}


.light-style .layout-navbar .navbar.landing-navbar .navbar-nav .nav-link.active {
  color: #102B49 !important; /* azul escuro ou outra cor desejada */
}

.light-style .layout-navbar .navbar.landing-navbar .navbar-nav .nav-link:hover,
.light-style .layout-navbar .navbar.landing-navbar .navbar-nav .nav-link:focus {
    color: #334254 !important;
}

.text-primary {                              /* class para mudar o cor da fonte dos nomes */
    color: #102B49 !important; 
}

.btn-outline-primary {                              /* Botaõ de filtros e login no canto superior direito*/
    color: #ffffff !important;
    background-color: #609CDA !important;
    border-color: #609CDA !important;
    
}

.btn-outline-primary:hover {                    /* hover do Botaõ de filtro*/
    background-color: #588fc5 !important;
    border-color: #588fc5 !important;
    color: #ffffff !important;
}

.bg-primary {
    background-color: #3A6092 !important;
}                                                   /*span que mostra a aula dentro do card*/

.bg-secundary {
    background-color: #102B49 !important;
}                                                   /*cor de fundo do título do card de mudar senha*/



.btn.botao-personalizado,
.btn.botao-personalizado:focus,
.btn.botao-personalizado:active,
.btn.botao-personalizado:visited {
    background-color: #609CDA !important;
    color: white !important;
    border: none !important;
}

.btn.botao-personalizado:hover {
    background-color: #588fc5 !important;
    color: white !important;
}
.buttons{
    justify-content: end;
    gap: 20px;
}
.btn-confirm{
    background-color:  #609CDA !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 8px !important;
}
.btn-confirm:hover{
    background-color:  #588fc5 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 8px !important;
    transform: scale(1.05) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-cancel{
    background-color:  #929292 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 8px !important;
}
.btn-cancel:hover{
    background-color:  #8a8a8b !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 8px !important;
    transform: scale(1.05) !important;
    transition: all 0.3s ease-in-out !important;
}


@media (max-width: 600px) {
    .test{
        width: 100%;
        justify-content: left;
        gap: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .test{
        width: 100%;
        justify-content: left;
        gap: 50px;
    }
}