{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="light-style layout-navbar-fixed layout-wide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="front-pages" data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Reserva de Espaços</title>

  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/MarcaSala1.ico' %}" />

  <!-- Estilos principais -->
  <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/front-page.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/nouislider/nouislider.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/front-page-landing.css' %}" />

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="../static/css/login-style.css">

  <!-- Scripts principais -->
  <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
  <script src="{% static 'assets/js/front-config.js' %}"></script>
  <script src="{% static 'assets/vendor/js/dropdown-hover.js' %}"></script>
  <script src="{% static 'assets/vendor/js/mega-dropdown.js' %}"></script>
</head>

<body>
  <div class="container">
    <div class="col-sm-6 col-xs-12 mx-auto">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center mb-3">
                <a href="#" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <!-- SVG OMITIDO PARA BREVIDADE -->
                    

  

                  </span>
                  <span class="app-brand-text demo menu-text fw-bold"></span>
                </a>
              </div>
              <!-- /Logo -->
               <div class="mb-0 app-brand justify-content-center">
                <a href="{% url 'index'%}" class="app-brand-link">
                  <img src="{% static 'img/MarcaSala.png' %}" alt="Logo MarcaSala" style="height: 150px;">
                </a>
              </div>

              <h4 class="mb-2 text-center">Bem-vindo ao Sistema de Reservas! 👋</h4>
              <p class="mb-4 text-center">Faça login para acessar sua conta</p>

              <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                {% if messages %}
                  <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="mb-3">
                  <label for="matricula" class="form-label">Usuário</label>
                  <input
                    type="text"
                    class="form-control"
                    id="matricula"
                    name="matricula"  
                    placeholder="Digite seu CPF"
                    maxlength="11"
                    required
                    autofocus
                  />
                </div>

                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Senha</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="••••••••"
                      required
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                  <small><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></small>
                </div>

                <div class="mb-3 mt-4">
                  <button class="btn btn-primary w-100" type="submit">Entrar</button>
                </div>
              </form>

              <p class="text-center">
                <span>Não tem uma conta?</span><br>
                <span>Solicite na secretaria da ETEAVS o seu acesso!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="/"><i class="fa fa-arrow-left"></i> Voltar para a home</a>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/nouislider/nouislider.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>
  <script src="{% static 'assets/js/front-main.js' %}"></script>
</body>
</html>