{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-6">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <div class="container-fluid">
                            <div class="mt-6">
                                <h2>Senha redefinida com sucesso</h2>
                                <p>Sua senha foi redefinida com sucesso.</p>

                                <a href="{% url 'login' %}" class="btn btn-danger">Fazer Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}