{% extends 'base.html' %}
{% block content %}



<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-6">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <div class="container-fluid">
                            <div class="mt-6">

                                <div class="container">
                                    <h2>Redefinir Senha</h2>

                                    <!-- Exibe a mensagem de sucesso ou erro -->
                                    {% if validlink %}
                                    <form method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="{{ form.new_password1.id_for_label }}">Nova Senha:</label>
                                            <input class="form-control w-50" type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1" aria-autocomplete="list">
                                            {% if form.new_password1.errors %}
                                            <ul class="errors">
                                                {% for error in form.new_password1.errors %}
                                                <li class="text-danger" >{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="{{ form.new_password2.id_for_label }}">Confirmar Senha:</label>
                                            <input class="form-control w-50" type="password" name="new_password2" autocomplete="new-password" aria-invalid="true" aria-describedby="id_new_password2_helptext" id="id_new_password2">
                                            {% if form.new_password2.errors %}
                                            <ul class="errors">
                                                {% for error in form.new_password2.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <ul>
                                                <li>Deve ter pelo menos 12 caracteres.</li>
                                                <li>Deve conter ao menos uma letra maiúscula.</li>
                                                <li>Deve conter ao menos uma letra minúscula.</li>
                                                <li>Deve conter pelo menos um número.</li>
                                                <li>Deve incluir pelo menos um caractere especial (por exemplo, @, #, $, %, &, etc.).</li>
                                            </ul>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                                    </form>
                                    {% else %}
                                    <p>Este link de redefinição de senha é inválido ou expirou.</p>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}