{% extends 'base.html' %}
{% block content %}


<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-6">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body demo-vertical-spacing demo-only-element">
                        <div class="container-fluid">
                            <div class="mt-6">
                                <h2>Email Enviado</h2>
                                <p class="text-danger">Enviamos um e-mail para você com instruções para redefinir sua senha.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}